<br>
<% if params[:choir_leader_id] %>
<h1><%= link_to ChoirLeader.find(params[:choir_leader_id]).name, choir_leader_path(params[:choir_leader_id]) %> is in charge of the following times: </h1>
<% end %>

<h1>Today's Practice Times:<br> <% @practice_times.todays_practices.each do |time| %>
    <%= time.time.to_formatted_s(:long) %><br>
    <% end %></h1>

    <h2>Future Practices:<br>
    <% @practice_times.scheduled_practices.each do |time| %>
        <%= link_to time.time.to_formatted_s(:long), practice_time_path(time) %><br>
        <% end %>